.card {
    margin: 5%;
}

.card-img {
    object-fit: 'cover';
    width: '10vw';
    height: '10vh';

}

.card-text {
    font-size: 12px;
}

.card .btn {
    /* TODO: Fix button width */
    width: 100%;
    margin-top: 5%;
}

.button-container {
    text-align: center;
}

.badge {
    margin-right: 1%;
}

.idInfo {
    justify-content: left;
}

.card-header .table {
    margin: 0px;
    padding: 0px;
    border-bottom: none;
}

/* .container {
    max-width: 960px;
    margin: 0%;
} */