.form-container {
    margin-top: 10vh;
    width: 55rem;
    border-radius: 5px;
    /* overflow-anchor: none; */
}

.form {
    padding: 2% 5%;
}

textarea {
    height: 157px;
}

.form-group {
    margin-top: 4vh;
}